name: ci

on:
  - push

permissions:
  contents: read

env:
  NODE_VERSION: 22
  JAVA_VERSION: 21

jobs:

  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Set up Java ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
      - name: Install dependencies
        run: npm ci
      - name: Build Android
        run: npm run verify:android
      - name: Install example dependencies
        run: npm ci
        working-directory: ./example
      - name: Build example
        run: npm run build
        working-directory: ./example
      - name : Sync Capacitor Android
        run: npx cap sync android
        working-directory: ./example
      - name: Build example Android
        run: npm run build:android
        working-directory: ./example
      - name: Run Smoke Tests on Android Emulator
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 36
          script: npm run test:android
          working-directory: ./example
